.productList{
    flex: 4;
}

.productListItem{
    display: flex;
    align-items: center;
}

.productListImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}

.productListEdit{
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #3bb077;
    color: white;
    margin-right: 20px;
}

.productListDelete{
    cursor: pointer;
    color: red;
}