.user{
    flex: 4;
    padding: 20px;
}

.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editUser{
    font-size: 20px;
}

.userAddButton{
    width: 80px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
    font-size: 16px;
}

.userContainer{
    display: flex;
    margin-top: 20px;
}

.userShow{
    flex: 1;
    padding: 20px;
    box-shadow: 0px 0px 11px -1px #000000;
    -webkit-box-shadow: 0px 0px 11px -1px #000000;
}

.userShowTop{
    display: flex;
    align-items: center;
}

.userImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userShowTopTitle{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.userShowUsername{
    font-size: 20px;
    font-weight: 600;
}

.userShowJobTitle{
    font-weight: 300;
}

.userShowBottom{
    margin-top: 20px;
}

.userShowTitle{
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
}

.userShowContainer{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.userShowIcon{
    font-size: 16px !important;
}

.userShowInfoTitle{
    margin-left: 10px;
}

.userUpdate{
    flex: 2;
    padding: 20px;
    box-shadow: 0px 0px 11px -1px #000000;
    -webkit-box-shadow: 0px 0px 11px -1px #000000;
    margin-left: 20px;
}

.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.userUpdateForm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.userUpdateItem>Label{
    margin-bottom: 5px;
    font-size: 14px;
}

.userUpdateInput{
    border: none;
    width: 250px;
    border-bottom: 1px solid gray;
}

.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.userUpdateUpload{
    display: flex;
    align-items: center;
}

.userUpdateImg{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin: 20px;
}

.userUpdateIcon{
    cursor: pointer;
}

.userUploadButton{
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}



